.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.heading {
  font-size: 22px;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

.label {

  font-size: 20px;
  margin-right: 8px;
}

.select {
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 8px;
}
